@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

$blue1: #3b7197;
$blue2: #4a8db7;
$blue3: #74bde0;
$blue4: #a1e1fa;